<% if flash[:errors] %>
  <% flash[:errors].each do |error|%>
  <p><%= error %></p>
  <%end%>
<% end %>


<%=form_for @user do |f|%>
Name: <br />
<%=f.text_field :name%><br/>
Password: <br />
<%= f.password_field :password %><br />

<%= f.submit %>
<%end%>
