<h1>Hello, <%= @user.name %>!</h1>
<%= link_to "Home", root_path %>


<h3>Your lifetime points: <%=@user.lifetime_pts%></h3>

<% if @user.best_definition %>
<div class="col half">
<h3>Voting History</h3>
  <% @user.most_voted.each do |name, votes| %>
    <li>You've voted for <span class="bold"><%= name %></span><%= " #{votes} time(s)." %></li>
  <% end %>
</div>

<div class="col half">
<h3>Game History</h3>
  <p>You've played:</p>
  <p><%= @user.games_played %> game(s)</p>

  <p>You've won:</p>
  <p><%= @user.games_won %> game(s)</p>

  <p>You've lost:</p>
  <p><%= @user.games_lost %> game(s)</p>
</div>

<div class="col half">
<h3>Best Definition</h3>
  <p><%= @user.best_definition.game.word %>:</p>
  <p>"<%= @user.best_definition.content %>"</p>
  <p>Bunk'd <%= @user.best_definition.votes.count %> / <%= @user.best_definition.game.player_count - 1 %> player(s)!</p>
</div>

<div class="col half">
<h3>Lifetime Bunks</h3>
  <p><%= @user.lifetime_bunks %></p>
</div>
<% else %>
  <h3>Go Bunk Someone!</h3>
<% end %>
