<h1>Bunk 'Em</h1>
<h3>It's Kinda Balderdash!</h3>


<h2>LOBBY</h2>


<% if signed_in? %>
<div class="section col two-third">
  <h3>Your Games</h3>

  <!-- ongoing_games = current_user.games.where(users.count == player_count).where(status != "Done") -->
  <table>
    <tr>
      <th>Game Number</th>
      <th>Filled Spots</th>
      <th>View?</th>
    </tr>
    <% current_user.games.each do |game| %>
      <% if game.status != "Done" %>
      <tr>
        <td><%= game.title %></td>
        <td><%= "#{game.users.count} / #{game.player_count}" %></td>
        <% if game.users.count == game.player_count %>
          <td><div class="button green"><%= link_to "Keep Playing", game, class: "b_link" %></div></td>
        <% else %>
          <td><div class="button yellow"><%= link_to "Waiting for Players", game, class: "b_link" %></div></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>

  </table>
</div>
<% end %>

<div class="section col third">
<h3>Start a New Game</h3>
  <div class="form">
    <%= form_for @game do |f| %>
      <%= f.label :player_count %><br>
      <div class="select-style">
        <%= f.select :player_count, (2..20) %>
      </div><br>
      <div class="button green"><%= f.submit "Start Game", class: "b_link" %></div>
    <% end %>
  </div>
</div>

<div class="section col two-third">
<h3>Open Games</h3>

<table>
  <tr>
    <th>Game Number</th>
    <th>Filled Spots</th>
    <th>Join?</th>
  </tr>
  <% @games.each do |game| %>
    <% if game.users.count < game.player_count && current_user && !current_user.games.include?(game) %>
      <tr>
        <td><%= game.title %></td>
        <td><%= "#{game.users.count} / #{game.player_count}" %></td>
        <td><div class="button green"><%= link_to "Join Game", participants_path(game: game.id), method: "post", class: "b_link" %></div></td>
      </tr>
    <% end %>
  <% end %>
</table>
</div>

<div class="section col third">
<h3>Top Players</h3>
  <ul>
  <% User.top_players.each do |hash| %>
    <% if hash.values.first > 0 %>
      <li><%= hash.keys.first %> with <%= hash.values.first %> points</li>
    <% end %>
  <% end %>
  </ul>
</div>
