<h1>Bunk 'Em</h1>
<h3>It's Kinda Balderdash!</h3>

<h2>LOBBY</h2>

<% if signed_in? %>
  <%= link_to "Log Out", sessions_path, method: :delete %>
<% else %>
  <%= link_to "Log In", signin_path %>
<% end %>

<h3>Start a New Game</h3>
<%= form_for @game do |f| %>
  <%= f.label :player_count %>
  <%= f.select :player_count, (2..20) %>
  <%= f.submit %>
<% end %>

<table>
  <tr>
    <th>Game Number</th>
    <th>Filled Spots</th>
    <th>Join?</th>
  </tr>
  <% @games.each do |game| %>
    <% if game.users.count < game.player_count %>
      <tr>
        <td><%= game.id %></td>
        <td><%= "#{game.users.count} / #{game.player_count}" %></td>
        <td><%= link_to "Join Game", participants_path(game: game.id), method: "post" %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<!-- GAMES YOU ARE IN  -->
