<h1>Game Page!</h1>

<!-- list total people, who is currently playing -->
<h3><%= @game.users.count %> out of <%= @game.player_count %> Players Currently In Game</h3>
<h3>Players:</h3>
<ul>
<% @game.users.each do |user| %>
  <li><%= user.name %></li>
<% end %>

<h3><%= @game.status %></h3>

<% case @game.status %>
<% when "Waiting for Players" %>
  <h3>Waiting for players, hang in there!</h3>
  <%= button_to "Refresh", @game, method: :get %>

<% when "Waiting for Submissions" %>
  <% if !@game.definition_users.include?(current_user) %>
    <%= flash[:error] if flash[:error] %>

    <h3>What is the definition of:</h3>
    <h2><%= @game.find_word %>?</h2>
    <%= form_for @definition do |f| %>
      <%= f.text_field :content %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :game_id, value: @game.id %>
      <%= f.submit %>
    <% end %>
  <% else %>
    <h3>Waiting for players to submit definitions, hang in there!</h3>
    <%= button_to "Refresh", @game, method: :get %>
  <% end %>


<% when "Waiting for Votes" %>
  <% if !@game.definition_voters.include?(current_user) %>
  <% else %>
    <!-- waiting for other players -->
  <% end %>

<% when "Done" %>
  <%  %>

<% end %>


    <!-- if you haven't submitted then display input box -->

    <!-- if you have submitted, but someone else hasn't, display "be patient!" & refresh button -->

    <!-- if EVERYONE submitted, display all answers w/ voting box -->

    <!-- if you have voted, but someone else hasn't, display "be patient!" & refresh button -->

    <!-- display vote counts, reveal real definition & congratulate winner -->
