<!DOCTYPE html>
<html>
  <head>
    <title>Bunkem | Flatiron School</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Raleway:400,700" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <% if signed_in? %>
        <div class="dropdown">
          <div class="dropbtn">Logged in as: <%= current_user.name %>
            <div class="dropdown-content">
              <%= link_to "Account", current_user %>
              <%= link_to "Log Out", sessions_path, method: :delete %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="dropdown">
          <div class="dropbtn">Sign In/Up
            <div class="dropdown-content">
              <%= link_to "Sign In", signin_path %>
              <%= link_to "Sign Up", new_user_path %>
            </div>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
